@import "tailwindcss";
:root {
  --color-blue-1: #3a416f;
  --color-blue-2: #86a2ce;
  --color-blue-3: #1f233c;
  --color-green-1: #10d8d8;
  --color-grey-1: #b0b3b1;
  --color-black-1: #111311;
}

@theme inline { 
  /*
  Can be used for inline in .tsx file by removing the color and replace with bg or text
  Example, text-blue-1, bg-blue-3

  Ensure that we do `import '@/app/globals.css'` if the style failed to load
  */
  --color-background: var(--color-blue-1);
  --color-blue-1: var(--color-blue-1);
  --color-blue-2: var(--color-blue-2);
  --color-blue-3: var(--color-blue-3);
  --color-green-1: var(--color-green-1);
  --color-grey-1: var(--color-grey-1);
  --color-black-1: var(--color-black-1);
}

body {
  background: var(--color-blue-1);
  font-family: var(--font-sans)
}